.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000 url("img/background.jpg") no-repeat fixed;
    background-size: cover;
}

.title {
    font-size: 85px;
    color: rgb(206, 47, 179);
    text-shadow: 3px 3px 3px rgb(0 0 0);
    animation: flipTitle 2s;
    transition: 1s;
}

.title:hover {
    transform: rotateY(-40deg);
    cursor: pointer;
}

@keyframes flipTitle {
    from {
        transform: rotateY(90deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

.input {
    height: 38px;
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
    margin: 24px 0;
    padding: 8px;
    outline: none;
    border: 1px solid #292828;
    background: #b6b6b665;
    color: rgb(255, 238, 0); 
}

.input::placeholder {
    color: rgba(0, 0, 0, 0.596);
}

.download-btn {
    background: rgb(255, 238, 0);
    border: 1px solid #292828af;
    padding: 0.5rem;
    border-radius: 8px;
    text-decoration: none;
    text-shadow: 1px 2px 2px rgb(0 0 0);
    transition: transform 450ms;
    color: rgb(206, 47, 179);
}

.download-btn:hover {
    transform: scale(1.1);
    background: rgb(206, 47, 179);
    color: rgb(255, 238, 0);
}

.download-btn:link {
    color: rgb(206, 47, 179);
}

.download-btn:visited {
    color: rgb(206, 47, 179);
}

.download-btn:link:hover, .download-btn:visited:hover {
    background: rgb(206, 47, 179);
    color: rgb(255, 238, 0);
}

@media (max-width: 600px){
    .title {
        font-size: 65px;
    }
}

@media (max-width: 1530px){
    .container {
        background-position: center;
    }
}