
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000 url("img/background.jpg") no-repeat fixed;
    background-size: cover;
}

.input {
    height: 38px;
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
    margin: 24px 0;
    padding: 8px;
    outline: none;
    border: 1px solid #b6b6b6;
}

.download-btn {
    background: rgb(0, 255, 221);
    padding: 0.5rem;
    border-radius: 8px;
    text-decoration: none;
    transition: transform 450ms;
}

.download-btn:hover {
    transform: scale(1.1);
}

.download-btn:link {
    color: black;
}

.download-btn:visited {
    color: black;
}